.subContainer{
    margin-top: 1.5vh;
    width: 99%;
    height: 90vh;
    overflow: hidden;
    /* border: solid rgb(173, 170, 170) 1px; */
}
/* 隐藏el-table滚动条 */
.el-table__body-wrapper::-webkit-scrollbar {
    display: none; 
  }

/* 隐藏左侧导航栏的滚动条 */
.el-aside .side-container::-webkit-scrollbar {
    display: none;
}

.el-menu-item span{
    /* color: #b4f0e6; */
    font-weight: bold;
}
.el-submenu span {
    /* color: #b4f0e6; */
    font-weight: bold;
}

#test{
    color: #0d94eece;
}